<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Task Tracker"
           Manufacturer="Muhammed Nilifirka"
           Version="1.0.0.0"
           UpgradeCode="57ea8821-d653-4d56-88b6-e01cf31714aa"
           InstallerVersion="500"
           Compressed="yes">
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Feature Id="ProductFeature">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
